<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>
    <link href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js"></script>
</head>


<body>
    {{ message }}
    <div id="hot"></div>
    <form id="hotForm" action="/result" method="POST">
        {% csrf_token %}
        <input type="hidden" name="hot_data" id="hot_data">
        <button type="button" onclick="getUpdatedData()">Send Updated Data</button>
    </form>
    <script>
        var hot = new Handsontable(document.getElementById('hot'), {
            startRows: 1,
            startCols: 2,
            minSpareRows: 0,
            colHeaders: ['name', 'sequence'],
            rowHeaders: true,
            licenseKey: 'non-commercial-and-evaluation'
        });

        function getUpdatedData() {
            var updateData = hot.getData();
            document.getElementById('hot_data').value = JSON.stringify(updateData);
            document.getElementById('hotForm').submit();
        };
    </script>
</body>
</html>