<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js"></script>


</head>
<body>
    {{ message }}
    <div id="hot">  </div>
    <button onclick="getUpdatedData()">Get Updated Data</button>
    <button onclick="sendUpdatedData()">Send Updated Data</button>
    <form action="../newpage" method="POST">
    {% csrf_token %}
    <input type="submit">
</form>
    <script>
       
            var hot = new Handsontable(document.getElementById('hot'), {
                
                startRows: 5,
                startCols: 3,
                minSpareRows: 1,
                colHeaders: ['Item', 'Vendor', 'Price'],
                rowHeaders: true,               
                licenseKey: 'non-commercial-and-evaluation'
            });
        

        function getUpdatedData(){
            const updateData = hot.getData();
            console.log(updateData);
        }

        function sendUpdatedData(){
            const sentData = hot.getData();
            fetch('/rec_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' // Ensure CSRF token is included
        },
                body: JSON.stringify({data: sentData})
            });
            console.log("Data sent to server:", sentData);
        }
            

    </script>
</body>
</html>